html, body {
    font-family:'Nunito', sans-serif;
    font-size:1.5em;
    height: 100%;                 
    margin: 0;                     
    padding: 0;
}

body{
    background-image: url(../../../img/destinyBootImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    color:white; 
    
}

.parentcontainer{
    position: relative; 
    background-image:url(../../../img/comsodromeWall.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width:80%;
    min-height:1000px;
    height:auto;
    margin:0 auto;
    margin-top:5%;
    border-radius:15px;
    overflow:hidden;
}

.textcontainer{
    position:relative;
    background-color: rgba(0, 0, 0, 0.70);
    margin-top:auto;
    width:100%;
    max-height:500px;
    padding: 20px;
    box-sizing:border-box;
    overflow:scroll;
}

/* link button styling */

.textcontainer ul{
    display:flex;
    flex-direction:wrap;
    justify-content:center;
    gap:20px;
    padding: 0;
    margin-top:20px;
    list-style:none;
}

.textcontainer ul li a{
    border-style:solid;
    border:2px;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    display:block;
    text-align:center;
    font-size:.75em;
    letter-spacing:.0625em;
    transition: color 0.3s ease; 

}

.textcontainer ul{
    display:flex;
    flex-direction:wrap;
    justify-content:center;
    gap:20px;
    padding: 0;
    margin-top:20px;
    list-style:none;
}

.textcontainer ul li a{
    border-style:solid;
    border:2px;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    display:block;
    text-align:center;
    font-size:.75em;
    letter-spacing:.0625em;
    transition: color 0.3s ease; 

}

.textcontainer ul li{
    border: 2px solid white;
    padding:20px 100px;
    box-sizing:border-box;
    transition: background-color 0.3s ease, opacity 0.3s ease; 

}
.textcontainer ul li:hover{
    background-color:white;
    
}

.textcontainer ul li a:hover{
        color:black;
}

/* ghost positioning within div */

.ghost {
    position: absolute;
    /* distance above the textcontainer */
    bottom: 600px;  
    /* position in middle */                 
    left: 15%;            
    /* size stuff */
    max-width: 150px;                
    /* keep proportions */
    height: auto;                    
    object-fit: contain;

/* ghost floating animation */

    animation: float 3s ease-in-out infinite;
}


@keyframes float {
    0%, 100% { transform: translate(-50%, -20px) translateY(0); }
    50%      { transform: translate(-50%, -20px) translateY(-15px); }
}

/* vandal positioning */

.vandal{
    position: absolute;
    /* distance above the textcontainer */
    bottom: 150 px;  
    /* position in middle */                 
    left: 50%;            
    /* size stuff */
    max-width: 1000px;
    width:700px;                
    /* keep proportions */
    height: auto;                    
    object-fit: contain;
}

/* Guardian Down banner */

.guardianDown {
    display:flex;
    align-items:center;
    letter-spacing: .25em;
    gap:15px;
    background-color:rgba(255, 0, 0, 0.3); ;
    text-transform:uppercase;
    color:inherit;
    
}

.ghostIcon {
    padding-left:50px;
    height:auto;
    max-width:100px;
    opacity:.40;
}

.revivebar{
    background-color:rgba(255, 255, 255, 0.5);
    padding-left:170px; 
    text-transform:uppercase;
    font-size:.5em;
    color:#000000;
}