html, body {
    font-family:'Nunito', sans-serif;
    font-size:1.5em;
    height: 100%;                 
    margin: 0;                     
    padding: 0;
}

body{
    background-image: url(../../../img/destinyBootImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    color:white; 
    
}

.parentcontainer{
    position: relative; 
    background-image:url(../../../img/cosmodromeStranger.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width:70%;
    min-height:1000px;
    height:auto;
    margin:0 auto;
    margin-top:5%;
    border-radius:15px;
    overflow:hidden;
}

.textcontainer{
    position:relative;
    background-color: rgba(0, 0, 0, 0.70);
    margin-top:auto;
    width:100%;
    max-height:500px;
    padding: 20px;
    box-sizing:border-box;
    overflow:scroll;
}

/* link button styling */

.textcontainer ul{
    display:flex;
    flex-direction:wrap;
    justify-content:center;
    gap:20px;
    padding: 0;
    margin-top:20px;
    list-style:none;
}

.textcontainer ul li a{
    border-style:solid;
    border:2px;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    display:block;
    text-align:center;
    font-size:.75em;
    letter-spacing:.0625em;
    transition: color 0.3s ease; 

}

.textcontainer ul li{
    border: 2px solid white;
    padding:20px 100px;
    box-sizing:border-box;
    transition: background-color 0.3s ease, opacity 0.3s ease; 

}
.textcontainer ul li:hover{
    background-color:white;
    
}

.textcontainer ul li a:hover{
        color:black;
}

.textcontainer ul li a:hover{
        color:black;
}
/* ghost positioning within div */

.ghost {
    position: absolute;
    /* distance above the textcontainer */
    bottom: 700px;  
    /* position in middle */                 
    left: 30%;            
    /* center horizontally */           
    transform: translate(-50%, 30px); 
    /* size stuff */
    max-width: 100px;                
    /* keep proportions */
    height: auto;                    
    object-fit: contain;

/* ghost floating animation */

    animation: float 3s ease-in-out infinite;
}


@keyframes float {
    0%, 100% { transform: translate(-50%, -20px) translateY(0); }
    50%      { transform: translate(-50%, -20px) translateY(-15px); }
}

/* stranger positioning */

.cayde {
    position: absolute;
    /* distance above the textcontainer */
    bottom: 450px;  
    /* position in middle */                 
    left: 50%;            
    /* center horizontally */           
    transform: translate(-50%, 20px); 
    /* size stuff */
    max-width: 1000px;
    width:500px;                
    /* keep proportions */
    height: auto;                    
    object-fit: contain;
}